html, body {

    background-color: #fff;

    color: #1c1c1c;

    font-family: 'Nunito', sans-serif;

    font-weight: 200;

    height: 100vh;

    margin: 0;

}

body {

                background-image: url('swansealogo3.jpg');

                background-repeat: no-repeat;

                background-attachment: fixed;

                background-size: 100% 100%;

}

.card-body {

                align-items: center;

                color: #ebebeb;

                display: flex;

                justify-content: center;

                background: rgba(74, 74, 74, 0.7);

                text-align: center;

                height: 250px;

                width: 250px;

                position: absolute;

                left: 50%;

                transform: translate(-50%, -50%);

                top: 50%;

                border: 10px solid rgba(255,255,255,.7);

}

.card-header {

                font-size: 20px;

  letter-spacing: .1rem;

                align-items: center;

                display: flex;

                position: absolute;

                left: 50%;

                transform: translate(-50%);

                top: 18px;

}

.col-md-8 offset-md-4{

                text-align: center;

}

a{

                color: #ebebeb;

}

a:hover{

                color: #e6da02

}
